body {
  font-family: arial;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

#main-nav {
  background: #032f3e; }
  #main-nav ul {
    min-height: 33px;
    width: 100%; }
    #main-nav ul:after {
      content: "";
      display: block;
      clear: both; }
  #main-nav li {
    float: left;
    width: 16.66667%; }
    @media only screen and (max-width: 600px) {
      #main-nav li {
        width: 100%; } }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    padding: 16px;
    display: block;
    text-align: center; }
    #main-nav a:hover {
      background: #04455b; }

.lead-banner {
  width: 100%;
  position: relative;
  color: #fff;
  text-align: right; }
  .lead-banner .banner-content {
    position: absolute;
    top: 50px;
    width: 100%; }
  .lead-banner img {
    width: 100%; }
  .lead-banner span {
    font-size: 46px;
    display: block;
    text-transform: uppercase;
    font-weight: bold; }
  .lead-banner span.title {
    font-weight: normal;
    margin-bottom: 30px; }

.lessons-banner {
  width: 100%;
  position: relative;
  color: #fff; }
  .lessons-banner .banner-content {
    position: absolute;
    top: 50px;
    width: 100%; }
  .lessons-banner img {
    width: 100%; }
  .lessons-banner span {
    font-size: 46px;
    display: block;
    text-transform: uppercase;
    font-weight: bold; }
  .lessons-banner span.title {
    font-weight: normal;
    margin-bottom: 30px; }
  .lessons-banner li {
    margin: 60px 0;
    text-transform: uppercase;
    max-width: 500px;
    font-size: 20px; }

#services {
  margin-bottom: 60px; }
  #services ul:after {
    content: "";
    display: block;
    clear: both; }
  #services li {
    float: left;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    width: 33.33333%; }
  #services img {
    width: 60%;
    margin: 20px 20%; }
  #services a {
    text-decoration: none;
    color: #032f3e;
    font-weight: bold; }
    #services a:hover {
      color: #3e1203; }

#projects li {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 15%; }
  #projects li:nth-child(6n) {
    margin-right: 0; }
