@import 'variables';

//mixins
@mixin clearfix {
    content: "";
    display: block;
    clear: both;
}

@mixin banner {
    width: 100%;
    position: relative;
    color: #fff;
    .banner-content{
        position: absolute;
        top: 50px;
        width: 100%;
    }
    img {
        width: 100%;
    }
    span {
        font-size: $bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }
    span.title {
        font-weight: normal;
        margin-bottom: 30px;
    }
}

@mixin grid($cols, $mgn){
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - (($cols - 1) * $mgn)) / $cols);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}

@mixin mQ($arg...){

    @if length($arg) == 1{
        @media only screen and (max-width: nth($arg, 1)){
            @content;
        }
    }
    
    @if length($arg) == 2{
        @media only screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)){
            @content;
        }
    }
}