@import 'variables';
@import 'mixins';
@import 'reset';

#main-nav {
    background: $deepBlue; 
    ul{
        min-height: 33px;
        width: 100%;
        &:after{
            @include clearfix;
        }
    }
    li{
        float: left;
        width: (100% / 6);
        @include mQ(600px){
            width: 100%;
        }
    }
    a{
        text-decoration: none;
        color: #fff;
        padding: 16px;
        display: block;
        text-align: center;
        &:hover{
            background: lighten($deepBlue, 6);
        }
    }
}

.lead-banner {
    @include banner;
    text-align: right;
}

.lessons-banner {
    @include banner;
    li {
        margin: 60px 0;
        text-transform: uppercase;
        max-width: 500px;
        font-size: 20px;
    }
}

#services {
    margin-bottom: 60px;
    ul{
        &:after{
            @include clearfix;
        }
    }
    li{
        float: left;
        box-sizing: border-box;
        text-transform: uppercase;
        text-align: center;
        width: (100% / 3);
    }
    img {
        width: 60%;
        margin: 20px 20%;
    }
    a{
        text-decoration: none;
        color: $deepBlue;
        font-weight: bold;
        &:hover{
            color: complement($deepBlue);
        }
    }
}

#projects li{
    @include grid(6, 2%);
}